<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="../images/ico_image.ico">
      <title>Pettner</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
body  {
    background-image: url("../images/Pettner.jpg");
    background-color: #cccccc;
}
html {
  margin: 40px auto;
  text-align: center;
}
.btn-facebook {
	  background: #3B5998;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #263961; 
	}
	.btn-facebook:link, .btn-facebook:visited {
	  color: #fff;
	}
	.btn-facebook:active, .btn-facebook:hover {
	  background: #263961;
	  color: #fff;
	}
</style>

</head>
<body>
  <div style="text-align:center">
  <span style="font:80pt 'Georgi'">PETTNER</span><br>
  <a href="/login/facebook" title="Facebook" class="btn btn-facebook btn-lg">Facebook</a>
  </div>
</body>
</html>
